@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background: url(../assets/WoodBackround.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* NavBar */
nav {
  background-color: #FEE8B0;
  opacity: 0.5;
}
nav i {
  padding: 20px;
}
nav div ul {
  gap: 2rem;
}
nav li a {
  color: #025464 !important;
  font-weight: bold;
  font-size: 20px;
}
nav button i {
  color: rgb(35, 151, 35);
}

a:hover {
  color: black !important;
}

/* Banner en Index*/
.jumbotron {
  background-image: url(../assets/Escritorio\ de\ trabajo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(70, 66, 66);
  margin-bottom: 0;
  font-weight: bold;
}
.jumbotron h1 {
  font-size: 45px;
}
.jumbotron p {
  font-size: 25px;
  margin-left: 15px;
}

section {
  background-color: #FEE8B0;
  display: flex;
  flex-direction: column;
  height: 120px;
  align-items: center;
  padding: 15px;
}
section h2 {
  font-size: 25px;
  font-weight: bold;
}
section p {
  font-size: 20px;
}

/* Servicios con Grid en Index*/
article {
  background-image: url(../assets/Fondo\ beige.jpg);
  height: 130px;
  background-position: center;
  background-size: cover;
  border: 6px solid rgba(39, 7, 7, 0.5);
  text-align: center;
  padding: 25px;
  color: #025464;
  font-size: 25px;
  font-weight: bold;
}

/* Pie de página */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-image: radial-gradient(#b9a165, #FEE8B0);
  font-size: 20px;
}

footer span:hover {
  background-color: rgb(235, 212, 179);
}

/* Banner Contacto */
.bannerContacto {
  height: 400px;
}

/* Formulario de Contacto */
form {
  display: flex;
  flex-direction: column;
  background-image: url(../assets/green\ and\ paper.jpg);
  height: 60%;
  align-items: center;
  gap: 5px;
}
form .casillero {
  width: 50%;
  padding: 5px;
}
form .casillero label {
  font-size: 20px;
}
form button {
  background-color: rgb(68, 126, 68) !important;
}

/* Nosotros - Descripción */
.descripción {
  display: flex;
  background-image: url(../assets/green\ and\ paper.jpg);
  height: 500px;
  background-position: center;
  background-size: cover;
  border: 5px solid rgba(39, 7, 7, 0.5);
  text-align: center;
  color: black;
  margin: auto;
}
.descripción .párrafoDescripción {
  font-size: 16px;
  padding: 2rem;
  margin: auto;
}

/* Servicios */
.gridServicios {
  height: 160px;
  border: 10px solid rgba(39, 7, 7, 0.5);
  padding: 10px;
}
.gridServicios .títuloServicios {
  font-size: 20px;
}
.gridServicios .listaServicios {
  list-style: none;
}
.gridServicios .listaServicios li {
  font-size: 16px;
  font-weight: lighter;
}

/* Preguntas frecuentes */
.containerPreguntas {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  margin-top: 10px;
  gap: 1rem;
}
.containerPreguntas .preguntas {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #FEE8B0;
  border: 3px solid rgba(39, 7, 7, 0.5);
  font-size: 16px;
}
.containerPreguntas .preguntas h6 p {
  display: block;
}

/*# sourceMappingURL=styles.css.map */
