* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Raleway", sans-serif;
}

$ColorIconos2: rgb(35, 151, 35);
$ColorFondoCeldas: #FEE8B0;
$ColorBordes: rgba(39, 7, 7, .5);
$ColorTexto: #025464;
$FuenteTitulo: 45px;
$Fuente-parrafo-servicios: 25px;
$Fuente-nav: 20px;
$Fuente-servicios-preguntas: 16px;

body {
    background: url(../assets/WoodBackround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* NavBar */
nav { 
    background-color:$ColorFondoCeldas;
    opacity: .5;
    i {
        padding: 20px;
        }
    div ul {
        gap: 2rem;
    }
        li a {
            color: $ColorTexto !important;
            font-weight: bold;
            font-size: $Fuente-nav;
        }
        button i {
            color: $ColorIconos2;
        }
}

a:hover {
color: black !important;
}

/* Banner en Index*/
.jumbotron {
    background-image: url(../assets/Escritorio\ de\ trabajo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(70, 66, 66);
    margin-bottom: 0;
    font-weight: bold;
    h1 {
        font-size: $FuenteTitulo;
        }
    p {
        font-size: $Fuente-parrafo-servicios;
        margin-left: 15px;
}
}

section {
    background-color: $ColorFondoCeldas;
    display: flex;
    flex-direction: column;
    height: 120px;
    align-items: center;
    padding: 15px;
        h2 {
            font-size: $Fuente-parrafo-servicios;
            font-weight: bold
        }
        p {
            font-size: $Fuente-nav;
        }
}

/* Servicios con Grid en Index*/
article {
    background-image: url(../assets/Fondo\ beige.jpg);
    height: 130px;
    background-position: center;
    background-size: cover;
    border: 6px solid $ColorBordes;
    text-align: center;
    padding: 25px;
    color:$ColorTexto;
    font-size: $Fuente-parrafo-servicios;
    font-weight: bold;
}

/* Pie de página */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-image: radial-gradient(#b9a165, #FEE8B0);
    font-size: $Fuente-nav;
}

footer span:hover {
    background-color:rgb(235, 212, 179);
}

/* Banner Contacto */
.bannerContacto {
    height: 400px;
}

/* Formulario de Contacto */
form {
    display: flex;
    flex-direction: column;
    background-image: url(../assets/green\ and\ paper.jpg);
    height: 60%;
    align-items: center;
    gap: 5px;
    .casillero {
        width: 50%;
        padding: 5px;
        label {
            font-size: $Fuente-nav;
        }
    }
    button {
        background-color: rgb(68, 126, 68) !important;
    }
}

/* Nosotros - Descripción */
.descripción {
    display: flex;
    background-image: url(../assets/green\ and\ paper.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    border: 5px solid $ColorBordes;
    text-align: center;
    color: black;
    margin: auto;
    .párrafoDescripción {
        font-size: $Fuente-servicios-preguntas;
        padding: 2rem;
        margin: auto;
    }
}

/* Servicios */
.gridServicios{
    height: 160px;
    border: 10px solid $ColorBordes;
    padding: 10px;
    .títuloServicios {
        font-size: 20px;
        }
    .listaServicios {
        list-style: none;
        li {
            font-size: $Fuente-servicios-preguntas;
            font-weight: lighter;
        }
    }
}

/* Preguntas frecuentes */
.containerPreguntas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    margin-top: 10px;
    gap: 1rem;
    .preguntas {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: $ColorFondoCeldas;
        border: 3px solid $ColorBordes;
        font-size: $Fuente-servicios-preguntas;
    }
    .preguntas h6 p {
        display: block;
    }
}